<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

    <title>Inscripcion Curso</title>
</head>
<body>
    <div class="container">
        <form method="post" id="frmInscripcion" class="formulario">
            <div class="mb-1">
                <label id="lblInscripcion" for="txtInscripcion">Nombre Curso:</label>
                <input type="text" name="txtInscripcion" id="txtInscripcion" class="form-control" required="true" minlength="8" maxlength="8" data-rule-digits="true">
            </div>
            <div class="mb-1">
                <label id="lblTelefono" for="txtTelefeno">Telefono:</label>
                <input type="text" name="txtTelefeno" id="txtTelefeno" class="form-control" required="true" minlength="10" maxlength="25">
            </div>
            <div class="text-end">
                <button id="btnGuardarFA" name="btnGuardarFA" class="btn btn-dark">Guardar</button>
            </div>
        </form>
        <div id="divInscripcion"></div>
    
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Nombre Curso</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody id="tbodyInscripcion"></tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        window.addEventListener("load", function (event) {
            $("#frmInscripcion").validate({
                messages: {
                    txtInscripcion: {
                        required: "Ingresa el nombre del curso",
                        minlength: "el nombre debe llevar mas de 3 caracteres",
                        // maxlength: "La matrícula es de 8 digitos",
                        // digits: "La matrícula es de solo números"
                    },
                    txtTelefeno: {
                        required: "Ingresa tu numero de telefono",
                        minlength: "Ingresa 10 caracteres",
                        maxlength: "Ingresa 10 caracteres"
                    }
                },
                rules: {
                    txtInscripcion: {
                        required: true,
                        minlength: 3,
                        maxlength: 50
                        //digits: true
                    },

                    txtTelefono: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    }
                }
            })

            $("#frmInscripcion").submit(function (event) {
                event.preventDefault()

                $.post("/inscripcion/guardar", $(this).serialize(), function (respuesta) {
                    console.log(respuesta)
                })
            })
        })
    </script>    
</body>
</html>
